# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs
*.log
npm-debug.log*

# Archivos temporales
tmp/
temp/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# PM2
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Builds
dist/
build/